body{
	margin: 3rem;
}

img{
	vertical-align: top;
}

.image-wrapper{
	width: 200px;
	height: 200px;
	/*margin: 10px;*/
	background: #212021;
}

.product-hanger-chip{
	background: #87384d;
	position: absolute;
	bottom: 0px;
	right: 0px;
	box-shadow: -1px 10px 6px 4px rgba(105, 75, 34, 0.4);
}

.product-heart-love{
	position: absolute;
	background: #fdd800;
	bottom: 0px;
	left: 0px;
}

.product-cactus{
	background: #83882b;
	position: absolute;
	top: 0px;
	left: 0px;
}

.product-hanger-chip img{
	position: relative;
	top: 30px;
	left: 30px;
}

.product-heart-love img{
	position: relative;
	top: 40px;
	left: 17px;
}

.product-cactus img{
	position: relative;
	top: 30px;
	left: 120px;
}

/*부모박스와 자식박스가있을때
자식에 엡솔루트를주면 부모박스가 인정받지못함
부모박스에 레러티브주면 부모박스로 인정

.parent{
	position: relative;
	width: 300px;
	height: 100px;
	background: : #181818;
}
.child{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 100px;
	background: #fff600;
}*/
