body{
	margin: 0;
}

.bg {
	position: relative;
}

.logo {
	position: absolute;
	top: 20px;
	left: 20px;
}

.apes {
	position: absolute;
	top: 170px;
	left: 4px;
}

.golliras {
	position: absolute;
	top: 110px;
	left: 11px;
}

.kingkong {
	position: absolute;
	top: 28px;
	left: 491px;
}

h3 {
	font-size: 33px;
	color: #fff;
	line-height: 0;
	position: relative;
	left: 120px;
	top: -313px;
	font-style: italic;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}