/*브라우저초기화*/
body{
	margin: 0;
}

/*사용자정의 스타일 오버라이딩*/
/*design - 설계*/
/*본문설계*/

body{
	font-family: "Spoqa han sans";
	/*쌍따음표를 안쓰면 폰트이름 인식 못함, 사이에 공백때문에, */
	font-size: 1em;
	letter-spacing: -0.04em;
	line-height: 1.5; /* 24px */
	color: #181818;
	background: url(../images/pattern-24.png);

}

/*레이아웃디자인*/

body{
	width: 840px;
	margin-right: auto;
	margin-left: auto;
}

/*제목설계*/
h6{
	margin-top: 0;
	font-size: 1.25em;
	line-height: 1.2em;
	margin-bottom: 1.2em;
}

h5{
	margin-top: 0;
	font-size: 1.5625em;
	line-height: 1.92;
	margin-bottom: 0.96em;
}

h4{
	margin-top: 0;
	font-size: 1.953125em;
	line-height: 1.536;
	margin-bottom: 0.768em;
}

h3{
	margin-top: 0;
	font-size: 2.44140625em;
	line-height: 1.2288;
	margin-bottom: 0.6144em;
}

h2{
	margin-top: 0;
	font-size: 3.0517578125em;
	line-height: 1.4745;
	margin-bottom: 0.4915em;
}

h1{
	margin-top: 0;
	font-size: 3.814697265625em;
	line-height: 1.1796;
	margin-bottom: 0.3932em;

}
/*단락설계*/
p{
	margin-top: 0;
	margin-bottom: 1.5em;
	/*마진바텀을 설정해줘야됨! 포토샵에서 문단 설계했던것처럼*/;
}